$black: black;
$white: white;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

@mixin translateY($e){
    -webkit-transform: translateY($e);
        -moz-transform: translateY($e);
            transform: translateY($e);
}

@mixin transition($e){
    -webkit-transform: $e;
        -moz-transform: $e;
            transform: $e;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    @include transition (.4s ease-in-out);
    cursor: pointer;

    &:hover{
        text-decoration: none;
        color: $red;
        @include transition (.4s ease-in-out);
    }
}



