@import "config.scss";

header{
    position: relative;
    display: block;
    width: 100%;
    background: $black;
    color: $white;
    height: 90px;

    .logo{

        position: absolute;
        top: 50%;
        left: 15px;
        @include translateY(-50%);

        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

    }
    nav, 
    nav ul, 
    nav ul li{
        margin: 0;
        padding: 0;
    }
    nav{
        position: absolute;
        top: 50%;
        right: 25px;
        @include translateY(-50%);

        ul li{
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;

            &.first{
                border-right-color: $white;
                border-right-style: solid;
                border-right-width: 1px;
                padding-right: 20px;
            }

            &.last{
                margin: 0;
            }

            a{
                font-size: 19px;
                line-height: normal;
                color: $white;
            }

        }
    }
}

.App{
    padding-bottom: 90px;
}

.container-fluid{
    margin: 20px 10px 10px 10px;

    h1{
        padding:10px 0px 10px 0px;
        font-size: 24px;
        text-decoration: underline;
    }
    h2{
        padding:10px 0px 10px 10px;
        font-size: 20px;
        font-weight: bold;
        
    }
}